<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>賣貨便</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="images/7-11.ico" />
    <link rel="stylesheet" href="/stylesheets/index.css">
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
        th {
          background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <header style="background-color: rgb(219, 201, 188);" class="text-white py-4">
        <div class="container-fluid mx-5">
            
            <h1 style="display: flex; align-items: center; justify-content: space-between;">
                <img src="images/crown.png" style="max-height: 50px;margin-left: 100px;">
                Hot Toddy Shopify 7-11 超取訂單 (取貨付款) 
                <div>
                    <img src="images/mhb35.png" style="max-height: 65px; margin-right: 150px;">
                </div>
            </h1>
        </div>
    </header>
    
    <div class="mx-5 mt-3 mb-3 d-flex justify-content-end">
        <button type="button" class="btn btn-primary" onclick="exportToExcel()">7-11賣貨便訂單</button>
       </div>
    <% if (Array.isArray(orders) && orders.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>手機</th>
                    <th>門市</th>
                    <th>溫層</th>
                    <th>商品</th>
                    <th>金額</th>
                    <th>運費</th>
                    <th>日期</th>
                    <th>備註</th>
                    <th>其它</th>
                    <th>付款</th>
                    <th>運貨商</th>
                </tr>
            </thead>
            
            <tbody>
                <% orders.forEach(function(order) { %>
                    <tr>
                        <!-- name -->
                        <% if (order.shipping_address && typeof order.shipping_address === 'object') { %>
                            <td><%= order.shipping_address.last_name %><%= order.shipping_address.first_name %></td>
                          <% } else { %>
                            <td>N/A</td>
                          <% } %>
                        <!-- mobile -->
                        <% if (order.shipping_address && order.shipping_address.phone) { %>
                            <% var phone = order.shipping_address.phone.replace(/\s/g, '').replace('+886', '09'); %>
                            <td><%= phone %></td>
                          <% } else { %>
                            <td>N/A</td>
                          <% } %>
                          
                        <!-- 門市 -->
                        <% if (order.note_attributes) { %>
                            <% let storeId = 'N/A'; %>
                            <% order.note_attributes.forEach(function(attribute) { %>
                            <% if (attribute.name === '門市代號(CvsStoreId)') { %>
                                <% storeId = attribute.value; %>
                            <% } %>
                            <% }); %>
                            <td><%= storeId %></td>
                          <% } else { %>
                            <td>N/A</td>
                          <% } %>
                        
                        <td>常溫</td>
                        <!-- 商品 -->
                        <td>
                        <% order.line_items.forEach(function(item) { %>
                            <%= "[" + item.sku + "][" + item.title + "] x " + item.quantity %><br>
                          <% }); %>
                        </td>
                        
                        <td><%= Math.floor(order.total_price) %></td>
                        
                        <!-- shipping_cost -->
                        <td><%= Math.floor(order.total_shipping_price_set.shop_money.amount) %></td>
                        

                        <!-- 訂單日期 "created_at": "2023-06-18T02:46:29+08:00",-->
                        <td><%= new Date(order.created_at).toLocaleDateString() %></td>
                        
                        <!-- 備註 -->
                        <td><%=order.note %></td>

                        <!-- 其它 -->
                        <td>
                            ID:<%= order.id %><br>
                            Shopify NO:<%= order.name %>
                        </td>
                        <!-- 付款 -->
                        <td><%= order.financial_status %></td>

                        <!-- 運貨商 -->
                        <% if (order.shipping_lines && order.shipping_lines.length > 0) { %>
                            <td><%= order.shipping_lines[0].code.split('(')[0] %></td>
                        <% } else { %>
                            <td></td> <!-- 或顯示其他預設值 -->
                        <% } %>
                        
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <footer style="background-color: rgb(219, 201, 188);" class="text-white py-5 mt-3">
            <div class="container" style="display: flex; align-items: center; height: 100%;">
              <p style="text-align: center; margin: auto;">&copy; 2023 Hot Toddy. All rights reserved. (amber)</p>
            </div>
          </footer>
          <img id="floatingImage" src="images/b2t.png" onclick="moveTop()" />
          <script src="../javascripts/magic.js"></script>
        <script src="/xlsx.full.min.js"></script>
        <script src="/FileSaver.min.js"></script>
        <script>
            function exportToExcel() {
            var table = document.querySelector('table');
            var rows = table.querySelectorAll('tr');

            var data = [];
            var headerData = [];
            var columnWidths = [];

            // 取得表格標題資料及設定欄位寬度
            var thCells = table.querySelectorAll('th');
            thCells.forEach(function(th) {
                headerData.push({
                    v: th.innerText,
                    t: 's',
                    s: {
                        wrapText: true, // 啟用自動換行
                        alignment: {
                            wrapText: true,
                            vertical: 'top'
                        }
                    }
                });

                var columnWidth = Math.ceil((th.offsetWidth / 10) * 1.5) * 1.5; // 設定欄位寬度
                columnWidths.push(columnWidth);
            });

            data.push(headerData);

            rows.forEach(function(row) {
                var rowData = [];
                var cells = row.querySelectorAll('td');

                cells.forEach(function(cell, columnIndex) {
                    var formattedCellValue = cell.innerText.replace(/<br>/g, '\n');

                    rowData.push({
                        v: formattedCellValue,
                        t: 's',
                        s: {
                            wrapText: true // 啟用自動換行
                        }
                    });

                    var columnWidth = Math.ceil((cell.offsetWidth / 10) * 1.5) * 1.5; // 設定欄位寬度
                    if (columnWidths[columnIndex]) {
                        columnWidths[columnIndex] = Math.max(columnWidth, columnWidths[columnIndex]);
                    } else {
                        columnWidths[columnIndex] = columnWidth;
                    }
                });

                data.push(rowData);
            });

            var worksheet = XLSX.utils.aoa_to_sheet(data);

            // 設定欄位寬度
            var range = XLSX.utils.decode_range(worksheet['!ref']);
            for (var col = range.s.c; col <= range.e.c; col++) {
                var columnWidth = Math.max(columnWidths[col], 10); // 最小寬度為10
                worksheet['!cols'] = worksheet['!cols'] || [];
                worksheet['!cols'][col] = { wch: columnWidth };
            }

            var workbook = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(workbook, worksheet, 'Sheet 1');
            var wbout = XLSX.write(workbook, { bookType: 'xlsx', type: 'array' });

            saveAs(new Blob([wbout], { type: 'application/octet-stream' }), 'orders.xlsx');
        }
        </script>
    <% } else { %>
        <p>No orders found.</p>
    <% } %>
</body>
</html>
